server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://192.168.1.38:5432/infocurso
    username: postgres
    password: "@Habita76"
  flyway:
    enabled: true
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  base-url: http://localhost:8080

